<form asp-action="Index">
<label> Nhap EmployeeID:</label>
<input type ="text" name="EmployeeID">
<label> Nhap tuoi:</label>
<input type ="text" name="Age">
<input type="submit" value ="Gửi dữ liệu">
</form>
<h1>Dữ liệu từ Controller gửi về là: @ViewBag.InfoPerson</h1>